* { 
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    border: #ff0000, dashed 5px;
    margin: 30px 0;
    padding: 30px;
    text-align: center;
}

#cifrao {
    color: green;
}

footer {
    background-color: #555555;
    color: #ffffff;
    padding: 20px;
}

.destaque {
    color: #ff0000;
}